:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --white-color: #ffffff;
  --second-background-color: #f5f4fa;
  --third-background-color: #2f303a;
  --logo-color: #000000;
}
