.main__section-preference {
  @media screen and (min-width: 1200px) {
    padding-bottom: 47px;
  }
}

.feature-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.feature-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

.feature-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.feature-list__item {
  width: 100%;
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: calc((100% - 1 * 30px) / 2);
    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }
    &:not(:nth-child(2n)) {
      margin-right: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &::before {
    display: block;
    content: '';
    margin-bottom: 30px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--second-background-color);
  }
}

.feature-list__item--antenna::before {
  background-image: url(../images/antenna.svg);
}

.feature-list__item--clock::before {
  background-image: url(../images/clock.svg);
}

.feature-list__item--diagram::before {
  background-image: url(../images/diagram.svg);
}

.feature-list__item--astronaut::before {
  background-image: url(../images/astronaut.svg);
}
